name: Check documentation
on:
  pull_request:
  workflow_call:

jobs:
  docs:
    name: Run documentation tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3-enchant hunspell-en-gb
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r docs/requirements.txt
          python -m pip install tox tox-gh-actions
      - name: Setup documentation build
        run: tox r -e docs -vv --notest
      - name: Run documentation build
        run: tox r -e docs --skip-pkg-install
