name: Run tests
on:
  pull_request:
  workflow_dispatch:

jobs:
  docs:
    name: Run documentation tests
    uses: ./.github/workflows/docs.yml
  style:
    name: Run linting and style checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r dev/requirements.txt
          python -m pip install tox tox-gh-actions
      - name: Setup linting checks
        run: tox r -e style -vv --notest
      - name: Run linting checks
        run: tox r -e style --skip-pkg-install
  tests:
    name: Run test suite - ${{ matrix.os }} - ${{ matrix.python }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [
          '3.8',
          '3.9',
          '3.10',
          '3.11',
          'pypy-3.8',
          'pypy-3.9',
        ]
        exclude:
          - os: windows-latest
            python: ['pypy-3.8', 'pypy-3.9']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: |
            **/pyproject.toml
            **/requirements.txt
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          python -m pip install -r tests/requirements.txt
          python -m pip install .
          python -m pip install tox-gh-actions
      - name: Setup test suite
        run: tox r -e py${{ matrix.python }} -vv --notest
      - name: Run test suite
        run: tox r -e py${{ matrix.python }} --skip-pkg-install
      - name: Store code coverage
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: .coverage
  typing:
    name: Run typing checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r typing/requirements.txt
          python -m pip install tox tox-gh-actions
      - name: Setup typing checks
        run: tox r -e typing -vv --notest
      - name: Run typing checks
        run: tox r -e typing --skip-pkg-install
  finish:
    name: Publish coverage
    needs: tests
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r typing/requirements.txt
          python -m pip install tox tox-gh-actions
      - name: Download code coverage
        uses: actions/download-artifact@v3
        with:
          name: coverage
      - name: Publish coveralls.io
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: tox r -e coveralls --skip-pkg-install
